* {
    margin: 0;
    padding: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.nav-img {
    max-width: 219px;

}



#navbar {
    background-color: #1A0B2E;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 12.5%;
}

nav .nav-content ul {
    display: flex;
    gap: 32px;
    color: white;
}

nav .nav-content li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}


.menu-icon {
    display: none;
}

.btn-gradient {
    color: white;
    background: linear-gradient(25deg, #fced31 0%, #f929be 50%, #8e18f9 100%);
    border: none;
    outline: none;
    padding: 12.5px 16px;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 16px;
    display: inline-flex;
    gap: 6.5px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.banner {
    width: 100%;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 1px solid #412567;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 101px 0;
}

.banner-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.microphone {
    position: absolute;
    animation: microtation 4s linear infinite;
}

@keyframes microtation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.banner-title {
    font-size: 60px;
    font-weight: 800;
    color: white;
}

.section-text {
    color: rgba(250, 250, 250, 0.8);
    font-size: 16px;
    line-height: 20px;
}

.banner-button {
    display: flex;
    margin-top: 24px;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.banner-button.btn-gradient {
    padding: 12.5px 20px;
    gap: 8px;
}

.btn-subscribe {
    padding: 12.5px 20px;
    background: none;
    border-radius: 30px;
    border: 1px solid #00FF88;
    color: #00FF88;
    font-size: 16px;
    display: inline-flex;
    gap: 8px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.new {
    position: absolute;
    top: 5%;
    left: 55%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #00FF88;
    border-radius: 30px;
    padding: 8px 16px;
    animation: newbtnanimation 2s infinite;
    border: none;
    outline: 0;
}

@keyframes newbtnanimation {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 255, 136, 0.7);
        transform: translate(5px, -10px) scale(1) rotate(0deg);

    }

    70% {
        box-shadow: 0 0 0 12px rgba(0, 255, 136, 0);
        transform: translate(5px, -10px) scale(1.05) rotate(5deg);

    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 255, 136, 0);
        transform: translate(5px, -10px) scale(1) rotate(0deg);
    }
}

.btn-subscribe:hover {
    background-color: #348964;

}

.about-podcast {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A0B2E;
    flex-direction: column;
}

.podcast-content {
    text-align: center;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.line {
    width: 100%;
    max-width: 1200px;
    height: 1px;
    background-color: rgba(250, 250, 250, 0.1);
    margin: 80px auto;
    border: none;
}

.number {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
}

.extra-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 120px;
}

.choose-techwave {
    background-color: #230E3D;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;

}

.card-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.card-container {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card1 {
    padding: 107px 40px;
    grid-row: span 2;
    background-color: #351165;
    border-radius: 40px;
    gap: 16px;
    display: flex;
    flex-direction: column;

}

.card-container img {
    height: 55px;
    width: 55px
}

.card2,
.card3,
.card4 {
    padding: 40px;
    grid-column: span 2;
    background-color: #351165;
    border-radius: 40px;
    gap: 16px;
    display: flex;
    flex-direction: column;

}

.card5 {
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.card-text {
    color: rgba(250, 250, 250, 0.6);
    font-size: 16px;
    line-height: 24px;

}

.features-episodes {
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.video-container {
    margin-top: 40px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.video {
    width: 100%;
    border-radius: 20px;
    max-width: 380px;
    background-color: #250D44;
}

.video-frame {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    width: 100%;
    border: none;

}

.video-text {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;
}

.time {
    display: flex;
    gap: 6px;
}

.time-text {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
}

.meet-host {
    background-color: #250D44;
    border-radius: 30px;
    display: flex;
    gap: 24px;
    padding: 40px;
    margin-top: 40px;
}

.host-title {
    font-size: 32px;
    color: white;
    font-weight: 700;
}

.host-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.social-media {
    display: flex;
    gap: 8px;
}

.social-media-icon {
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
}

.social-media-icon img {
    max-width: 100%;
    height: auto;
}

.footer {
    width: 100%;
    background: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    gap: 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-text {
    font-size: 16px;
    font-weight: 500;
    color: white;
}


.footer-content {
    display: grid;
    grid-template-columns: 1fr 150px 120px 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.footer-icon {
    display: flex;
    gap: 8px;
}

@media (min-width: 576px) and (max-width: 992px) {

    nav .nav-content ul,
    #navbar .btn-gradient {
        display: none;
    }

    nav {
        padding: 24px 50px;
        justify-content: space-between;
    }

    .menu-icon {
        display: flex
    }

    .banner {
        width: 100%;
        background-size: 100% 100%;
        background-position: center;
    }

    .banner-images {
        width: 100%;
        max-width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        align-items: center;
        margin: 0px auto;

    }

    .banner-images .circle {
        width: 100%;
        height: auto;
        max-width: 250px;
    }

    .microphone img {
        width: 100%;
        height: auto;
        max-width: 80px;
        max-height: 80px;

    }

    .extra-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        text-align: center;
        margin-bottom: 40px;

    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 16px 20px 40px 20px;

    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5 {
        grid-row: auto;
        grid-column: auto;
        padding: 24px;
        background-color: #351165;
        border-radius: 24px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .features-episodes {
        align-items: center;
        padding: 40px 20px 40px 20px;
    }

    .video-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 60px auto;
        gap: 20px;
        align-items: center;
        width: 100%;
        max-width: 900px;
        height: auto;
    }

    .video-text {
        padding: 20px;
    }



    .host {
        margin-bottom: 40px;
    }

    .meet-host {
        padding-bottom: 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-media {
        margin: 24px auto;
    }

    .footer {
        width: 100%;
        background-size: 100% 100%;
        background-position: center;
        padding: 40px 0;
    }


    .footer-logo {
        width: 100%;
        max-width: 219px;
    }

    .footer-icon {
        display: flex;
        align-items: center;
    }

    .footer-text {
        text-align: center;
    }

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 16px;

    }


}


@media screen and (max-width: 576px) {

    nav .nav-content ul,
    #navbar .btn-gradient {
        display: none;
    }

    nav {
        padding: 20px;
        justify-content: space-between;
    }

    .menu-icon {
        display: flex
    }


    .banner {
        width: 100%;
        background-size: 100% 100%;
        background-position: center;
    }

    .banner-images {
        width: 100%;
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        align-items: center;
        margin: 0px auto;

    }

    .banner-images .circle {
        width: 100%;
        height: auto;
        max-width: 200px;
    }

    .microphone img {
        width: 100%;
        height: auto;
        max-width: 80px;
        max-height: 80px;

    }

    .new {
        top: 5%;
        left: 65%;
        font-size: 16px;
    }

    .section-title {
        font-size: 32px;
        margin-bottom: 16px;
        margin-top: 40px;
    }

    .podcast-content {
        max-width: 400px;

    }

    .line {
        width: 100%;
        max-width: 400px;
        margin: 40px auto;
    }

    .extra-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        text-align: center;
        margin-bottom: 40px;

    }

    .number {
        font-size: 40px;
    }

    .choose-techwave {
        padding: 40px 20px;
    }

    .card-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 16px 20px 40px 20px;

    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5 {
        grid-row: auto;
        grid-column: auto;
        padding: 24px;
        background-color: #351165;
        border-radius: 24px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .features-episodes {
        align-items: center;
        padding: 40px 20px 40px 20px;
    }

    .video-container {
        grid-template-columns: 1fr;
        margin-bottom: 60px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .host {
        margin-bottom: 40px;
    }

    .meet-host {
        padding-bottom: 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-media {
        margin: 24px auto;
    }

    .footer {
        width: 100%;
        background-size: 100% 100%;
        background-position: center;
        padding: 40px 0;
    }


    .footer-logo {
        width: 100%;
        max-width: 219px;
    }

    .footer-icon {
        display: flex;
        align-items: center;
    }

    .footer-text {
        text-align: center;
    }

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 16px;

    }

}