* {
    margin: 0;
    padding: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.nav-img {
    max-width: 219px;
}

#navbar {
    background-color: #1A0B2E;
}

nav {
    display: flex;
    margin: 16px auto;
    justify-content: space-between;
    align-items: center;
    padding: 24px 200px;
}

nav .nav-content ul {
    display: flex;
    gap: 32px;
    color: white;
}

nav .nav-content li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}


.menu-icon {
    display: none;
}

.btn-gradient {
    color: white;
    background: linear-gradient(25deg, #fced31 0%, #f929be 50%, #8e18f9 100%);
    border: none;
    outline: none;
    padding: 12.5px 16px;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 16px;
    display: inline-flex;
    gap: 6.5px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.banner {
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -16px;
    border-top: 1px solid #412567;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 101px 0;
}

.banner-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.microphone {
    position: absolute;
}

.banner-title {
    font-size: 60px;
    font-weight: 800;
    color: white;
}

.section-text {
    color: white;
    font-size: 16px;
    font-weight: normal;
}

.banner-button {
    display: flex;
    margin-top: 24px;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.banner-button.btn-gradient {
    padding: 12.5px 20px;
    gap: 8px;
}

.btn-subscribe {
    padding: 12.5px 20px;
    background: none;
    border-radius: 30px;
    border: 1px solid #00FF88;
    color: #00FF88;
    font-size: 16px;
    display: inline-flex;
    gap: 8px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.new {
    position: absolute;
    top: 5%;
    right: 41%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #00FF88;
    border-radius: 30px;
    padding: 8px 16px;
    border: none;
}

.btn-subscribe:hover,
.btn-gradient:hover {
    transform: translateY(5px);
}