* {
    margin: 0;
    padding: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.nav-img {
    max-width: 219px;
}

#navbar {
    background-color: #1A0B2E;
}

nav {
    display: flex;
    padding: 16px auto;
    justify-content: space-between;
    align-items: center;
    padding: 24px 200px;
}

nav .nav-content ul {
    display: flex;
    gap: 32px;
    color: white;
}

nav .nav-content li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}


.menu-icon {
    display: none;
}

.btn-gradient {
    color: white;
    background: linear-gradient(25deg, #fced31 0%, #f929be 50%, #8e18f9 100%);
    border: none;
    outline: none;
    padding: 12.5px 16px;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 16px;
    display: inline-flex;
    gap: 6.5px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.banner {
    width: 100%;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 1px solid #412567;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 101px 0;
}

.banner-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.microphone {
    position: absolute;
}

.banner-title {
    font-size: 60px;
    font-weight: 800;
    color: white;
}

.section-text {
    color: rgba(250, 250, 250, 0.8);
    font-size: 16px;
    line-height: 20px;
}

.banner-button {
    display: flex;
    margin-top: 24px;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.banner-button.btn-gradient {
    padding: 12.5px 20px;
    gap: 8px;
}

.btn-subscribe {
    padding: 12.5px 20px;
    background: none;
    border-radius: 30px;
    border: 1px solid #00FF88;
    color: #00FF88;
    font-size: 16px;
    display: inline-flex;
    gap: 8px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.new {
    position: absolute;
    top: 5%;
    left: 55%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #00FF88;
    border-radius: 30px;
    padding: 8px 16px;
    border: none;
}

.btn-subscribe:hover,
.btn-gradient:hover {
    transform: translateY(5px);
}

.about-podcast {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A0B2E;
    flex-direction: column;
}

.podcast-content {
    text-align: center;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.line {
    width: 100%;
    max-width: 1200px;
    height: 1px;
    background-color: rgba(250, 250, 250, 0.1);
    margin: 80px auto;
    border: none;
}

.number {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
}

.extra-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 120px;
}

.choose-techwave {
    background-color: #230E3D;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    /* border: none; */

}

.card-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.card-container {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card1 {
    padding: 107px 40px;
    grid-row: span 2;
    background-color: #351165;
    border-radius: 40px;
    gap: 16px;
    display: flex;
    flex-direction: column;

}

.card-container img {
    height: 55px;
    width: 55px
}

.card2,
.card3,
.card4 {
    padding: 40px;
    grid-column: span 2;
    background-color: #351165;
    border-radius: 40px;
    gap: 16px;
    display: flex;
    flex-direction: column;

}

.card5 {
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.card-text {
    color: rgba(250, 250, 250, 0.6);
    font-size: 16px;
    line-height: 24px;

}

.features-episodes {
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.video-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.video {
    width: 100%;
    border-radius: 20px;
    max-width: 380px;
    background-color: #250D44;
}

.video-frame {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 214px;
    width: 100%;
    border: none;

}

.video-text {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;
}

.time {
    display: flex;
    gap: 6px;
}

.time-text {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
}